// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  -webkit-font-smoothing: antialiased;
}

.panel-default {
  box-shadow: 1px 2px 1px rgba(0,0,0,0.125);
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
  border: 1px solid transparent;
  padding: 0px 15px;
  background: #5cb85c;
  .navbar-brand, > ul > li > a {
    color: white !important;
  }
  ul > li.active {
    a {
      color: white !important;
      background: #315f31 !important;
    }
  }
}

h1 {
  font-weight: 300;
}
.main, .form, .title {
  margin-bottom: 25px;
  text-align: center;
}

.user-form {
  margin-top: 50px;
  input {
    width: 100%;
  }
  .btn {
    margin-top: 15px;
  }
}

.alert {
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
